@model UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1> User Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.IsActive)
        </dd>
    </dl>
</div>


<h2> Audit Logs</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Forename</th>
                <th>Surname</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Account Active</th>
                <th>Action Date Time</th>
                <th>State</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AuditEntries)
            {
                <tr>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DateOfBirth))
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        @(item.EndTime)
                    </td>
                    <td>
                        @(item.EntityState)
                    </td>
                </tr>
            }
        </table>
    </div>







<div>
    <a asp-action="Edit" asp-route-id="@Model?.Item.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

