@model AuditLogsViewModel

<h2> Audit Logs</h2>

<div class="table-responsive">
    <table id="logs" class="table table-striped">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Account Active</th>
                <th>Action Date Time</th>
                <th>State</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AuditEntries)
            {
                <tr>
                    <td>
                        @item.UserId
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DateOfBirth))
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        @(item.EndTime)
                    </td>
                    <td>
                        @(item.EntityState)
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Details
                        </button>
                    </td>
                </tr>
            }
    </table>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Audit Log Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height:370px">
                <ul class="list-group">
                    <li id="line0" class="list-group-item"></li>
                    <li id="line1" class="list-group-item"></li>
                    <li id="line2" class="list-group-item"></li>
                    <li id="line3" class="list-group-item"></li>
                    <li id="line4" class="list-group-item"></li>
                    <li id="line5" class="list-group-item"></li>
                    <li id="line6" class="list-group-item"></li>
                    <li id="line7" class="list-group-item"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready( function () {
            $('#logs').DataTable();
        } );


        $("button").click(function(e){
            let userid = $(e.target).parent().parent().children()[0].innerText
            let firstname = $(e.target).parent().parent().children()[1].innerText
            let surname = $(e.target).parent().parent().children()[2].innerText
            let DoB = $(e.target).parent().parent().children()[3].innerText
            let email = $(e.target).parent().parent().children()[4].innerText
            let active = $(e.target).parent().parent().children()[5].innerText
            let action = $(e.target).parent().parent().children()[6].innerText
            let state = $(e.target).parent().parent().children()[7].innerText

            $("#line0").text(userid)
            $("#line1").text(firstname)
            $("#line2").text(surname)
            $("#line3").text(DoB)
            $("#line4").text(email)
            $("#line5").text(active)
            $("#line6").text(action)
            $("#line7").text(state)
        })

    </script>

}

